* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Josefine Sans, sans-serif;
        }

        body {
            min-height: 100vh;
        }

        .navbar {
            padding: 15px 30px;
            display: flex;
            align-items: center;
        }

        h1{
            font-size: 36px;
            font-weight: bold;
        }

        h2{
            font-size: 24px;
            font-weight: bold;
        }

        h3{
            font-size: 18px;
            font-weight: light;
        }
        .navbar-btn{
            text-decoration: none;
            color: black;
            padding: 10px 45px;
            border-radius: 10px;
            margin-top: 10px;
            width: 200px
            height: 40px;
            border: 2px solid white;
        }

        .navbar-btn:hover {
            background: #EAF4FA;
            border: 2px solid  rgba(37, 117, 167, 0.1);

        }
        .navbar-icon {
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .register-form {
            background-color: #ffffff;
            padding: 40px;
            width: 100%;
            max-width: 600px;
        }

        .register-form h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 2px solid #EAF4FA;
            border-radius: 10px;
            font-size: 16px;
        }

        .buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 28px
        }

        .btn {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            max-width: 200px;
        }

        .btn-save {
            border-radius: 10px;
            background-color: #2575A7;
            color: white;
        }

        .btn-save:hover {
            background-color: #1e5d85;
            color: white;
        }

        .btn-cancel {
            border-radius: 10px;
            border: 1px solid #2575A7;
            background-color: #EAF4FA;
            color: black;
        }

        .btn-cancel:hover {
            background-color: #d0e7f4;
        }

        .dashboard-container {
            max-width: 1200px;

        }

        .stats-section {
            display: flex;
            gap: 40px;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .stat-card {
            text-align: center;
            padding: 0px 100px 0px 100px;
        }

        .circle-stat {
            position: relative;
            min-width: 200px;
            min-height: 200px;
        }

        .circle-stat svg {
            transform: rotate(-90deg);
        }

        .circle-stat circle {
            fill: none;
            stroke-width: 25;
        }

        .circle-stat .bg {
            stroke: #EAF4FA;
        }

        .circle-stat .progress {
            stroke: #4CAF50;
            stroke-dasharray: 283;
            stroke-linecap: round;
            transition: stroke-dashoffset 0.5s;
        }

        .circle-stat .progress.lists {
            stroke: #2196F3;
        }

        .stat-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 32px;
            font-weight: bold;
        }

        .stat-label {
            margin-top: 10px;


        }

        .lists-grid {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 40px;
        }

        .list-card {
            background: #fff;
            border-radius: 10px;
            padding: 20px 40px;
            border: 2px solid #EAF4FA;
        }

        .list-card:hover{
            border: 2px solid #2575A7;
        }

        .progress-bar {
            background: #EAF4FA;
            border-radius: 10px;
            height: 10px;
            margin: 10px 0;
        }

        .progress-fill {
            background: #39A725;
            height: 100%;
            border-radius: 10px;
        }

        .btn-start {
            display: inline-block;
            background: #2575A7;
            color: white;
            padding: 10px 45px;
            border-radius: 10px;
            text-decoration: none;
            margin-top: 10px;
            width: 200px
            height: 40px;
        }

        .btn-start:hover {
            box-shadow: 0px 4px 8px #D9D9D9;
        }