{% extends "base.html" %}

{% block title %}Vocabulary Lists{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Vocabulary Lists</h1>
        <a href="{% url 'create_list' %}" class="btn-start"><i class="fas fa-plus me-2"></i>+</a>
    </div>
    <div class="my-3">
        <div class="d-flex gap-2">
            <a href="{% url 'vocab_lists' %}" class="lists-filter {% if not current_level %}active{% endif %}">All</a>
            {% for level in levels %}
            <a href="?level={{ level.code }}" class="lists-filter {% if current_level == level.code %}active{% endif %}">
                {{ level.code }}
            </a>
            {% endfor %}
        </div>
    </div>


    <section class="mb-5">
       <h2>System Suggestions</h2>
        <div class="lists-grid">
        {% for list in system_lists %}
        <div class="list-card">
            <div class="d-flex justify-content-between align-items-center">
                <h3>{{ list.name }}</h3>
                <span>0/{{ list.words.count }} </span>
            </div>

            <div class="progress-bar">
                <div class="progress-fill" style="width: {{ list.progress }}%;"></div>
            </div>
            <a href="{% url 'list_detail' list.pk %}" class="btn-start">Start</a>
        </div>
        {% empty %}
        <p class="text-muted">No system lists available for this level.</p>
        {% endfor %}
    </div>
    </section>

    <section class="mb-5">
        <h2>Your Lists</h2>
        <div class="lists-grid">
            {% for list in custom_lists %}
            <div class="list-card">
                <div class="d-flex justify-content-between align-items-center">
                <h3>{{ list.name }}</h3>
                <span>0/{{ list.words.count }} </span>
            </div>

            <div class="progress-bar">
                <div class="progress-fill" style="width: {{ list.progress }}%;"></div>
            </div>
                <a href="{% url 'list_detail' list.pk %}" class="btn-start">Start</a>
            </div>
            {% empty %}
            <div class="text-center py-5 bg-white rounded-3 border border-dashed">
                <p class="text-muted mb-3">You haven't created any custom lists yet.</p>
                <a href="{% url 'create_list' %}" class="btn-start">Create your first list</a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}