{% extends "base.html" %}

{% block title %}{{ vocab_list.name }} - Sprach Lernen{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'vocab_lists' %}">Lists</a></li>
                <li class="breadcrumb-item active">{{ vocab_list.name }}</li>
            </ol>
        </nav>
        <h1>{{ vocab_list.name }}</h1>
        <h3>{{ vocab_list.description }}</h3> <!--Add description to the model and show it here-->
    </div>

    <div class="stats-section">
        <div class="stat-card">
            <div class="circle-stat">
                <svg viewBox="0 0 150 150">
                    <circle class="bg" cx="75" cy="75" r="60"></circle>
                    <circle class="progress" cx="75" cy="75" r="45"
                            style="stroke-dashoffset: {{ progress_offset }};">
                    </circle>
                </svg>
                <!-- show learned summary -->
                <div class="stat-number">{{ learned_words }} / {{ total_words }}</div>
            </div>
        </div>
    </div>


    <h2 class="mb-3">Start learning:</h2>
    <div class="d-flex gap-3 my-3">
        <form action="{% url 'set_active_list_and_start' vocab_list.pk 'input' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-start">Type translation</button>
    </form>

    <form action="{% url 'set_active_list_and_start' vocab_list.pk 'select' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-start">Multiple choice</button>
    </form>
        {% if not vocab_list.is_system %}
        <button type="button" class="btn btn-outline text-danger" data-bs-toggle="modal"
            data-bs-target="#deleteModal">
            <i class="fas fa-trash"></i>
        </button>
        {% endif %}
    </div>
    <div class="tbldiv rounded-3 my-3 overflow-scroll">
        <table class="itemstable table-hover">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Translation</th>
                    <th>Type</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                <tr>
                    <td >{{ word.word }}</td>
                    <td>{{ word.translation }}</td>
                    <td><span class="badge bg-light text-muted fw-normal">{{ word.word_type }}</span></td>
                    <td>
                        <div class="progress" style="height: 6px; width: 100px;">
                            <div class="progress-bar" role="progressbar"
                                style="width: calc({{ word.progress_count|default:0 }} * 20%)"></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Delete Modal -->
    {% if not vocab_list.is_system %}
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="modal-title">Delete List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete "{{ vocab_list.name }}"? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Cancel</button>
                    <form action="{% url 'delete_list' vocab_list.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary bg-danger border-0">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}